%p= "#{@user.first_name},"

%p
  Estamos muito felizes por ter você como parte da evolução da nossa revelação digital.

%p
  Acreditamos que …………… e queremos realmente melhorar a forma como as pessoas transformam suas fotos em memórias duráveis. 

%p
  %b Para acessar o … e criar uma nova senha, clique no link abaixo:
  %br
  = link_to 'Criar minha senha agora', edit_password_url(@user, reset_password_token: @user.reset_password_token)

%p
  Sempre que quiser revelar suas fotos, pode acessar o site pelo endereço:
  %br
  http://revelacao.pedrocinefoto.com.br

%p
  = "Para fazer seu login, use sempre o seu endereço de e-mail cadastrado (#{@user.email}) e sua senha, que você definiu no primeiro link do e-mail"

%p
  Atenciosamente,
  %br
  Ricardo Mordente
  %br
  Pedro Cine Foto
  %small
    %br
    e-mail: ricardo@pedrocinefoto.com.br
    %br
    tel: (31) 2128-3400

%p
  %b P.S.
  = "Se tiver qualquer dúvida ou problema no cadastro pode responder a este e-mail ou ligar no #{main_phone} e pedir para falar comigo."
  %br
  %b P.S. 2
  Não deixe de me contar toda e qualquer sugestão, dúvida e problema que tiver durante a utilização do site! Pode ser por e-mail ou telefone.

