!!!
%html
  %head
    %title Photo
    = stylesheet_link_tag    "admin/application", media: "all"
    = stylesheet_link_tag    "admin/print/print", media: "all"

  %body#orders

    .container-fluid

      .row-fluid
        .span12
          %h1
            \ #
            = @order.pretty_id


      .row-fluid

        %p
          %b Cliente:
          = @order.user.try :name

        - if @order.observations.present?
          %p
            %b Observações:
            = @order.observations

        %br


      .row-fluid

        .span9

          .tab-content
            - unless @order.photos.empty?
              #simple.tab-pane.active
                %table.table.table-striped
                  %tr
                    %th
                    %th
                    %th Tamanho
                    %th Papel
                    %th Margem
                    %th Borda
                    %th Preço unitário
                    %th Preço total

                  - @photos.each_pair do |specs, photos|
                    - count = photos.sum(&:count)
                    %tr
                      %td= count
                      %td &times;
                      %td= specs[:product].name
                      %td= t "photo.specs.paper.#{specs[:paper]}"
                      %td= specs[:margin] ? "Sim" : "Não"
                      %td= specs[:border] ? "Sim" : "Não"
                      %td= number_to_currency specs[:product].price
                      %td= number_to_currency specs[:product].price * count


          %p
            %b Total de impressões:
            = @total_count
          %p
            %b Preço:
            = number_to_currency @order.price

          %br
          %br


