%tr
  %td.id= order.pretty_id
  %td= labeled_status order
  %td= number_to_currency order.price
  %td.hidden-phone{ title: l(order.created_at, format: :medium) }= time_ago_in_words order.created_at
  %td{ title: l(order.updated_at, format: :medium) }= time_ago_in_words order.updated_at
  %td= order.user.try :name
  - if order.downloadable? and not order.downloaded?
    %td.visible-desktop= link_to 'Ver e fazer download', admin_order_path(order), class: 'btn btn-primary'
  - else
    %td.visible-desktop= link_to 'Ver', admin_order_path(order), class: 'btn'
  / %td.hidden-phone= link_to 'Edit', edit_admin_order_path(order), class: 'btn'
  / %td.hidden-phone= link_to 'Destroy', admin_order_path(order), confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger'