%tr

  %td= photo.count

  %td &times;

  %td= photo.product.name

  %td= t "photo.specs.paper.#{photo.specification.paper}"

  %td= photo.border ? "Sim" : "Não"

  %td= photo.margin ? "Sim" : "Não"

  %td.right= number_to_currency photo.product.price, unit: ""

  %td.right= number_to_currency photo.product.price * photo.count, unit: ""

  %td.action
    - if photo.image.present? && photo.image.image.present?
      = photo.basename


  %td.visible-desktop

    - if photo.image.present?
      %span.btn-group.download
        = link_to download_admin_order_photo_path(photo.order.id, photo.id), class: "btn btn-primary", rel: 'tooltip', title: 'download' do
          %i.icon-download-alt.icon-white

        - if photo.image.present? && photo.image.image.original.present?
          .btn.btn-primary.dropdown-toggle{ data: { toggle: 'dropdown' }}
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to download_admin_order_photo_path(photo.order.id, photo.id, original: true), class: "btn-link" do
                %i.icon-download-alt
                Original

      = link_to admin_order_photo_path(photo.order, photo, format: :jpeg), class: 'btn identify', rel: 'tooltip', title: 'visualizar imagem', target: :_blank do
        %i.icon-eye-open

      = link_to admin_order_photo_path(photo.order, photo, format: :text), class: 'btn identify', rel: 'tooltip', title: 'ver informações da imagem', target: :_blank do
        %i.icon-info-sign
