- content_for :id, :orders

%h1 Ordens

.row-fluid

  .span2

    %ul.nav.nav-list
      %li.nav-header Filtrar
      %li
        = link_to admin_orders_path do
          %span.label Todas

      %li.divider

      - Order::STATUSES.each do |status|
        %li{ class: ("active" if status.to_s == @status) }
          = link_to admin_orders_path status: status do
            = label_with_status I18n.t("order.status.#{status}"), status

    %br
    %br


  .span10

    %table.table.table-striped
      %tr
        %th #
        %th Status
        %th Preço
        %th
          Abertura
          %i.icon-arrow-down
        %th.hidden-phone Atualizado
        %th Cliente
        %th

      = render @orders


    = paginate @orders

