%h1 Ordens

%table.table.table-striped
  %tr
    %th Status
    %th Data
    %th Atualizado
    %th Cliente
    %th.visible-desktop
    / %th.hidden-phone
    / %th.hidden-phone

  - @orders.each do |order|
    %tr
      %td= labeled_status order.status
      %td= order.created_at.strftime "%d-%b-%Y %H:%M"
      %td= order.updated_at.strftime "%d-%b-%Y %H:%M"
      %td= order.user.try :name
      %td.visible-desktop= link_to 'Download', "#", :class => 'btn btn-primary' if order.downloadable?
      / %td.hidden-phone= link_to 'Edit', edit_admin_order_path(order), :class => 'btn'
      / %td.hidden-phone= link_to 'Destroy', admin_order_path(order), :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger'