%p
  %b Status:
  = labeled_status @order
%p
  %b Preço:
  = number_to_currency @order.price
%p
  %b Aberta em:
  = l @order.created_at, :format => :medium
%p
  %b Atualizado pela última vez em:
  =  l @order.updated_at, :format => :medium
%p
  %b Cliente:
  = @order.user.try :name

%br

%p
  %b Início da seleção em:
  = l @order.progress_at , :format => :medium  if @order.progress_at
%p
  %b Fechada em:
  = l @order.closed_at   , :format => :medium  if @order.closed_at
%p
  %b Início da captura:
  = l @order.catching_at , :format => :medium  if @order.catching_at
%p
  %b Capturado em:
  = l @order.caught_at   , :format => :medium  if @order.caught_at
%p
  %b Pronta em:
  = l @order.ready_at    , :format => :medium  if @order.ready_at
%p
  %b Entregue em:
  = l @order.delivered_at, :format => :medium  if @order.delivered_at
  
  
%br


%p
  %b Observações:
  = @order.observations


%br


- if @order.downloadable?
  %p= link_to 'Download', download_admin_order_path(@order), :class => 'btn btn-primary'
  %br


= link_to 'Voltar', admin_orders_path
