- content_for :id, :orders

.container-fluid

  .row-fluid
    .span12
      %h1
        \#
        = @order.identifier human: true




  .row-fluid

    .span9

      %p.unprintable
        %b Status:
        = labeled_status @order
        %span.status-actions.unprintable
          = link_to "Marcar como executada", 'javascript:void(0);', class: 'btn btn-mini btn-inverse disabled' if @order.executable?
          = link_to "Marcar como entregue" , 'javascript:void(0);', class: 'btn btn-mini btn-inverse disabled' if @order.deliverable?
      %p
        %b Cliente:
        = @order.user.try :name
      %p
        %b Enviado em:
        = l @order.closed_at, format: :medium  if @order.closed_at

      = if @order.observations.present?
        %p
          %b Observações:
          = @order.observations

      %br


      %ul.nav.nav-tabs.unprintable
        %li.active
          %a{ data: { toggle: 'tab' }, href: '#simple'   } Simples
        %li
          %a{ data: { toggle: 'tab' }, href: '#advanced' } Avançado

      .tab-content
        - unless @order.photos.empty?
          #simple.tab-pane.active
            %table.table.table-striped
              %tr
                %th
                %th
                %th Tamanho
                %th Papel
                %th Margem
                %th Borda
                %th.right Unidade R$
                %th.right Total R$

              - @photos.each_pair do |specs, photos|
                - count = photos.sum(&:count)
                %tr
                  %td= count
                  %td &times;
                  %td= specs[:product].name
                  %td= t "photo.specs.paper.#{specs[:paper]}"
                  %td= specs[:margin] ? "Sim" : "Não"
                  %td= specs[:border] ? "Sim" : "Não"
                  %td.right= number_to_currency specs[:product].price, unit: ""
                  %td.right= number_to_currency specs[:product].price * count, unit: ""


        - unless @order.photos.empty?
          #advanced.tab-pane
            %table#photos.table.table-striped
              %tr
                %th
                %th
                %th Tamanho
                %th Papel
                %th Borda
                %th Margem
                %th.right Unidade R$
                %th.right Total R$
                %th Arquivo
                %th.visible-desktop

              = render partial: 'admin/orders/photo', collection: @order.photos, as: :photo



      %p
        %b Total de impressões:
        = @total_count
      %p
        %b Preço:
        = number_to_currency @order.price

      %br
      %br




    .span3.unprintable

      .btn-group#download
        - disabled_class = @order.downloadable? ? '' : 'disabled'

        = link_to (@order.downloadable? ? download_admin_order_path(@order) : 'javascript:void(0);'), class: "btn btn-primary #{ disabled_class }", rel: 'tooltip', title: 'Clique para fazer download' do
          %i.icon-download-alt.icon-white
          Download
        .btn.btn-primary.dropdown-toggle{ class: "#{disabled_class}", data: { toggle: 'dropdown' } }
          %span.caret
        %ul.dropdown-menu
          %li
            = link_to (@order.downloadable? ? download_admin_order_path(@order, originals: true) : 'javascript:void(0);'), class: "btn-link #{ disabled_class }" do
              Originais

      &nbsp;
      = link_to (@order.downloadable? ? 'javascript:print();' : 'javascript:void(0);'), class: "btn #{ 'disabled' unless @order.downloadable?}", rel: 'tooltip', title: 'Clique para imprimir a ordem de serviço' do
        %i.icon-print
        Imprimir

      &nbsp;
      -
      = link_to admin_order_path(@order), method: :delete, id: 'destroy', class: "btn btn-danger #{ 'disabled' if @less_than_a_day}", rel: 'tooltip', title: (@less_than_a_day ? 'Aguarde completar 1 dia' : 'Excluir (perigo!)') do
        %i.icon-trash.icon-white


      %br
      %br

      #meta.well
        %p
          %b Aberta em:
          %br
          = l @order.created_at, format: :medium
        %p
          %b Atualizado pela última vez em:
          %br
          =  l @order.updated_at, format: :medium
        - if @order.canceled?
          %p
            %b Cancelada em:
            %br
            =  l @order.canceled_at, format: :medium

        %br

        %p
          %b Início da seleção em:
          %br
          = l @order.progress_at , format: :medium  if @order.progress_at
        %p
          %b Fechada em:
          %br
          = l @order.closed_at   , format: :medium  if @order.closed_at
        %p
          %b Início da captura:
          %br
          = l @order.catching_at , format: :medium  if @order.catching_at
        %p
          %b Capturado em:
          %br
          = l @order.caught_at   , format: :medium  if @order.caught_at
        %p
          %b Pronta em:
          %br
          = l @order.ready_at    , format: :medium  if @order.ready_at
        %p
          %b Entregue em:
          %br
          = l @order.delivered_at, format: :medium  if @order.delivered_at

