!!!
%html
  %head
    %title Enviar fotos
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "controllers/orders"
    = airbrake_javascript_notifier
    = csrf_meta_tags

  -# .normal, .sending
  %body#photos.normal

    #main

      %nav
        %ul
          %li= link_to "Cancelar envio", cancel_order_path(@order), confirm: "Tem certeza?", method: "post"

      - if user_signed_in?
        - if current_user.anonymous?
          = "Usuário anonimo (#{link_to "login", new_user_session_path})"
        - else
          =raw "#{current_user.email} (#{link_to "sair", destroy_user_session_path, method: "delete"})"


      :javascript
        $(function () {
          library.flash.session( { token: '#{current_user.authentication_token}' } );
          kuva.orders({
            order: #{raw @order.to_json},
            default_product: #{raw @products.first.to_json},
            products: #{raw @products.to_json},
            specifications: #{raw @specs.to_json}
          });

          $.extend(specification, #{raw Specification.to_h.to_json})
        });


      #main-add
        #add-button.add-files
          .action
            clique aqui para
            .main adicionar fotos
            do seu computador
          .alternative ou arraste e solte suas fotos aqui
          .formats Formatos suportados: BMP, GIF, JPG, PNG, TIFF

        .afterwards
          Depois você irá selecionar como quer cada foto:&nbsp;
          %u> tamanho
          ,
          %u papel
          e
          %u quantidade

      #gadgets.unselectable




    #aside
      .sending
        .title Enviando fotos...
        .progress.progress-striped.active
          .bar{ style: "width: 40%" }
        .counter
          .numbers
            %span.done 2
            de
            %span.total 8
        .caution
          %b Atenção:
          mantenha a página aberta até que o envio seja concluído.

      .normal
        .header
          .add-files Adicionar mais fotos

        #end
          #end-confirmation.tooltip.left.in
            .tooltip-inner
              .question Está tudo certo para enviar suas fotos?
              %a.button.success{ :href => "javascript:void(0);" } Sim, enviar
              &nbsp;
              %a.not-yet{ :href => "javascript:void(0);" } Ainda não, quero voltar
            .tooltip-arrow
          %a.button.success.faded{ :href => "javascript:void(0);" }
            Enviar fotos
            %br
            %small e fechar pedido

        #cancel.faded
          %a{ :href => "javascript:void(0);" }
            = image_tag "x.png"
            cancelar pedido




    %script#gadget{ type: "text/x-jqote-template" }
      :plain
        <![CDATA[


          <div id="gadget-<*= this.id *>" class="gadget ruler-pomp">
            <div class="canvas">
              <div class="image">
                <img class="thumbnail" src="<*= this.source *>" title="<*= this.name *>" />
              </div>
              <div class="pomp size-pomp">
                <div class="dimension height">
                  <span class="count"></span>
                  <span class="unit">cm</span>
                </div>
                <div class="dimension width">
                  <span class="count"></span>
                  <span class="unit">cm</span>
                </div>
              </div>
              <div class="pomp paper-pomp"></div>
              <div class="control hideable size" rel="tooltip" data-title="Alterar tamanho" data-on-click="gadget.sizeize"></div>
              <div class="control hideable paper" rel="tooltip" data-on-click="gadget.paperize"></div>
              <div class="control hideable duplicate" data-on-click="gadget.duplicate" data-title="Duplicar esta foto<br /><small>para impressão, em<br />outro tamanho ou<br />papel, da mesma foto</small>" data-placement="right" rel="tooltip"></div>
              <div class="control hideable count" data-placement="bottom" rel="tooltip" data-title="Quantidade">
                <div class="control subcontrol minus" data-on-click="gadget.decrement">-</div>
                <div class="pomp"><span class="times">×</span><span class="number" data-text="photo.count"></span>
                </div>
                <div class="control subcontrol plus" data-on-click="gadget.increment">+</div>
              </div>
              <div class="thumbnail bar"></div>
              <div class="upload bar"></div>
            </div>
            <!--div style="position: absolute; bottom: 50px; z-index: 1001;">
              #{ select :spec, :paper, Specification::PAPERS, {}, data: {value: 'specification.paper'} }
              #{ collection_select :photo, :product_id, @products, :id, :name, {}, data: {value: 'photo.product_id'} }
              #{ text_field_tag :count, 0, type: :number, data: {value: 'photo.count'} }
            </div-->
          </div>
        ]]>



    #overlay.gadgets

    / move partial to an embed tag
    = render 'flash'


    :javascript
      document.write(unescape("%3Cscript src='//www.snapengage.com/snapabug.js' type='text/javascript'%3E%3C/script%3E"));</script><script type="text/javascript">
      SnapABug.setLocale("pt");
      SnapABug.addButton("9ff774d2-ef25-42b2-b50a-3715b117bdfc","0","50%");


    #modal-0.simplemodal-container{:style => "position: fixed; z-index: 1002; height: 500px; width: 600px; left: 416.5px; top: 100px; display: block; "}
      .simplemodal-wrap{:style => "height: 100%; outline: 0px; width: 100%; overflow: visible; ", :tabindex => "-1"}
        #sent-modal.modal.simplemodal-data{:style => "display: block; "}
          %h1
            %img{:src => "/assets/structure/modal-summary-checkmark.png"}
            Suas fotos foram enviadas e já estão conosco!
          .content
            %h2 Em até 24 horas suas fotos estarão prontas para você buscar, aqui no Pedro Cine Foto.
            .note
              %b Lembre-se:
              o pagamento só será feito quando você vier buscá-las.
          .button-group
            %a.button.confirm.success{"data-on-click" => "modal.confirm"}
              CONCLUIR
