<h2>Entrar</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field"><%= f.label :email, "E-mail" %>
  <%= f.email_field :email %></div>

  <div class="field"><%= f.label :password, "Senha" %>
  <%= f.password_field :password %></div>

  <% if false && devise_mapping.rememberable? -%>
    <div class="actions"><%= f.check_box :remember_me %> <%= f.label :remember_me, "Lembrar meu login", style: "display: inline" %></div>
  <% end -%>

  <div><%= f.submit "Entrar" %></div>
<% end %>

<%= render "links" %>