%h1= "Alterar senha de #{@user.name}"

= simple_form_for [:admin, @user], url: update_password_admin_user_path(@user), method: :post do |f|
  = f.error_notification

  .form-inputs
    = f.input :password
    = f.input :password_confirmation

  .form-actions
    = f.button :submit, 'Mudar senha', class: 'btn-primary'


= link_to 'Voltar', admin_users_path
