!!!
%html
  %head
    %title Photo
    = stylesheet_link_tag    "layouts/temp", media: "all"
    = javascript_include_tag "application"
    = airbrake_javascript_notifier
    = csrf_meta_tags

    %link{ href: '/assets/fonts/impact.ttf'                                    , rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700', rel: 'stylesheet', type: 'text/css' }


    - if Rails.env.production?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-22261618-3']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  %body

    - if user_signed_in?
      %nav
        %ul
          %li= link_to "Enviar fotos", new_order_path
          %li= link_to "Meus pedidos", orders_path

      - if current_user.anonymous?
        = "Usuário anonimo (#{link_to "login", new_user_session_path})"
      - else
        =raw "#{current_user.email} (#{link_to "sair", destroy_user_session_path, method: "delete"})"


    #main
      #photographs
        #header
          #logo
            = image_tag "pedrocinefoto.png"

        #content
          = yield

    #footer

    :javascript
      document.getElementById('user_email').focus();
